{{ ansible_managed | comment }}

database=file:{{ aide_config_database }}
database_out=file:{{ aide_config_database_out }}
gzip_dbout={{ "yes" if aide_config_gzip_dbout else "no" }}

verbose={{ aide_config_verbose }}

{% for report_url in aide_config_report_urls %}
report_url={{ report_url }}
{% endfor %}

# Group
{% for definition in aide_config_group_definitions[aide_config_distro_version] %}
{{ definition['name'] }} = {{ definition['expression'] }}
{% endfor %}

# Selections
{% for selection in aide_config_group_selections[aide_config_distro_version] %}
{{ selection['pattern'] }} {{ selection['group'] }}
{% endfor %}

{% if aide_no_nfs %}
# Exclude NFS mounts
{% for mount in ansible_facts['mounts'] %}
{% if mount['fstype'] == 'nfs' %}
!{{ mount['mount'] }}
{% endif %}
{% endfor %}
{% endif %}
